*{
	font-family: 'Bruno Ace', cursive;
    background: #F3F5FC;
}

.container {
    position: relative;
}

.image {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 35px;
    top: 40px;
}

.texto {
    position: absolute;
    top: 168px;
    left: 240px;
    width: 600px;
    height: 488px;
    font: 25px 'Bruno Ace';
    font-style: normal;
    line-height: 150%;
    font-weight: 400;
    border: none;
    resize: none;
}

textarea::placeholder {
    color:#8a2b8a;
}

.instructions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;

    position: absolute;
    width: 275px;
    height: 18px;
    left: 240px;
    top: 700px;
    font-size: 10px;
    color: #8a0606;
}

.iconExclamation {
    width: 13px;
    
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 25px;

    position: absolute;
    width: 537px;
    height: 67px;
    left: 240px;
    top: 720px;
}

.button-encriptar, .button-desencriptar {
    width: 255px;
    height: 65px;
    border-radius: 25px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.button-encriptar {
    background: #0A3871;
    color: #fcfcfd;
}

.button-desencriptar {
    background: #D8DFE8;
}

.rightContent:before {
	content: "";
    position: absolute;	
    width: 405px;
    height: 830px;
    top: -7px;
    left: -9px;	
    z-index: -1;
    background: #f3f0f0;
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    border-radius: 17px;
}

.rightContent {
    border: none;
    background: #fcfcfd;
    border-radius: 17px;
    position: absolute;
    width: 400px;
    height: 830px;
    left: 950px;
    top: 40px;
}

#imgDoll {
    position: absolute;
    width: 330px;
    height: 300px;
    top: 183px;
    left: 37px;
    background: #fcfcfd;

}

.rightContent-msj {
    text-align: center;
    position: absolute;
    top: 520px;
    height: 135px;
    background: #fcfcfd;

}

.rightContent-text1 {
    color: #0b0b0b;
    padding: 10px;
    font-size: 22px;
    background: #fcfcfd;
}

.rightContent-text1 strong {
    background:#fcfcfd;
}

.rightContent-text2 {
    color: #646262;
    padding: 10px;
    font-size: 14px;
    background: #fcfcfd;
}

.textoResult {
    border: none;
    width: 350px;
    height: 620px;
    resize: none;
    position: absolute;
    margin: 15px 25px 0;
    display: none;
}

.buttons-copy {
    display: flex;
    position: absolute;
    width: 275px;
    height: 65px;
    border-radius: 25px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    top: 685px;
    left: 74px;
    font-size: 15px;
    display: none;
}

.reveal {
    display: block;
}

.hide {
    display: none;
}

.creditos {
    border: none;
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 50px;
    background: #D8DFE8;
}

.creditos-author {
    background: #D8DFE8;
    text-align: center;
    padding: 12px;
}